.contact {
  width: 100%;
  display: grid;
  margin: 50px 0 20px 0;
  justify-items: center;
  text-align: center;

  &__container {
    width: 100%;
    margin: 30px auto;

    &--title {
      background: -webkit-linear-gradient(#373a4b, #7b7b7b);
      background-clip: initial;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 500;
      font-size: 3rem;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    &--container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      gap: 1.5em;
      justify-content: center;
      width: 90%;
      margin: 50px auto;

      &--left {
        display: flex;
        flex-direction: column;
        background-color: $fColor;
        box-shadow: 0 0 20px $sColor;
        justify-content: center;
        align-content: center;
        gap: 2em;
        // margin: 50px 50px 50px 0;
        border-radius: 5px;
        padding: 30px;
        border: 1px solid $tColor;

        &--container {
          padding-bottom: 30px;
          color: $white;
          display: flex;
          flex-direction: row;
          text-align: center;

          &--link {
            width: 25px;
            height: 25px;
            color: $white;
            border: 2px solid $sColor;
            padding: 15px 16px;
            border-radius: 50%;
            margin-right: 20px;
            transition: .4s;
            font-size: 20px;
            display: flex;
            align-content: center;
            justify-content: center;
            text-decoration: none;

            & i {
              position: relative;
              top: -10px;
            }

            &:hover {
              background-color: $sColor;
            }
          }

          &--text {
            text-align: center;
            display: flex;
            align-items: center;
            font-weight: 700;
          }
        }
      }

      &--right {
        background-color: $fColor;
        box-shadow: 0 0 20px $sColor;
        border-radius: 5px;
        padding: 30px;
        border: 1px solid $tColor;
        // margin: 50px 50px 50px 0;
        height: 376px;

        &--container {
          display: flex;
          flex-direction: column;

          &--input {
            font-size: 15pxpx;
            margin-bottom: 20px;
            padding: 5px;

            &:focus {
              border: 2px solid $sColor;
            }
          }

          &--label{
            color: $white;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}

.btn__neon {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  letter-spacing: 4px;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  background: linear-gradient(to right, $white, rgba(255, 255, 255, 0.465))0 0 / 400% 100%;
  animation: move-bg 3s infinite alternate-reverse;
  background-clip: var(-webkit-background-clip);
  -webkit-background-clip: text;
  color: transparent;
  border: none;

  @keyframes move-bg {
    to {
      background-position: 400% 0;
    }
  }



  &:hover {
    background: $sColor;
    box-shadow: 0 0 6px $tColor, 0 0 20px $tColor, 0 0 40px $tColor;
    transition-delay: 1.25s;
    color: $white;
  }

  span {
    position: absolute;
    display: block;
  }

  #span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, $tColor);
  }

  &:hover #span1 {
    left: 100%;
    transition: 1s;
  }

  #span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, $tColor);
  }

  &:hover #span2 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }

  #span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, $tColor);
  }

  &:hover #span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
  }

  #span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, $tColor);
  }

  &:hover #span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
  }
}

@media (min-width: 700px) {
  .contact__container--title{
    text-align: left;
    width: 90%;
    margin: 0 auto;
  }
  .contact__container--container {
    width: 90%;
    margin: 50px auto;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
  }
}

@media (min-width: 1300px) {
  .contact__container--container{
    grid-template-columns: 40% 58%;
  }
}