* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
html{
  scroll-behavior: smooth;
}

main {
  margin-left: 300px;
  transition: .3s;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow-x: hidden;
}

@media (max-width: 1050px) {
  main {
    margin-left: 0;
  }
}