$fColor: rgb(27, 39, 53) ;
$sColor: rgb(0, 167, 142);
$tColor: rgb(82, 82, 82);
$gray: rgb(211, 211, 211);
$white: rgb(255, 255, 255);
$black: rgb(32, 32, 32);
$gradient: radial-gradient(ellipse at top, #1b2735 0%, #090a0f 100%);
