$roboto: 'Roboto Condensed', sans-serif;
$fColor: rgb(50, 50, 50);
$sColor: rgb(0, 167, 142);
$tColor: rgb(82, 82, 82);
$gray: rgb(211, 211, 211);
$white: rgb(255, 255, 255);
$black: rgb(32, 32, 32);
